#battle_UI {
	position: absolute;
	width: 99%;
	aspect-ratio: 16/9;
	overflow: hidden;
	display: grid;
	grid-template-rows: 10px 1fr 10px;
	grid-template-columns: 10px 1fr 10px;
}

#battleContent {
	position: absolute;
	width: 100%;
	height: 95%;
	grid-column-start: 2;
	grid-row-start: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
	min-width: 0;
	min-height: 0;
}

/* 게임 상태 띄우기 용 */
#status-bar {
	display: contents;
	align-items: center;
	font-size: 100%;
	gap: 10px;
}

#stats-pos {
	display: flex;
	padding-block: 10%;
}

.player-stats {
	border-radius: 1rem;
	background: #2F4F4F;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

/* 적일러스트 */
.enemy-img {
	display: block;
	border-radius: 1rem;
	background: #2F4F4F;
	background-image: url("../monster.png");
	background-size: contain;
	background-repeat: no-repeat;
	align-self: center;
	min-width: 10%;
	aspect-ratio: 1/1;
}

/* 적 스탯 */
.enemy-info {
	text-align: center
}

#monsterUI {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

#monsterUI>* {
	margin: 0.5rem;
	object-fit: cover;
}

#battleMain {
	display: grid;
	grid-template-columns: 1fr 2fr 1.5fr;
	gap: 10px;
	justify-items: stretch;
	align-items: stretch;
}

#battleMain>* {
	margin: 2%;
}