/* 인벤토리 UI 스타일 */
.inventory_UI {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;
	/* 도움말보다 위에 뜨게 */
}

.inventory-window {
	background: #4682B4;
	border: 2px solid #2F4F4F;
	border-radius: 25px;
	padding: 30px;
	width: 600px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #F0F8FF;
}

.inventory-grid {
	width: 100%;
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* 한 줄에 4개 */
	gap: 10px;
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;
}

.item-slot {
	background: #2F4F4F;
	aspect-ratio: 1/1;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #5F7F7F;
	font-size: 0.8rem;
}

.item-slot:hover {
	background: #3D5A5A;
}

#exit-inventory {
	width: 150px;
}